

# DOCUMENTATION: https://docs.mash3div.com
# SUPPORT: https://support.mash3div.com

# --------------- App ---------------

APP_PUBLIC_URL="http://localhost"
APP_PUBLIC_SITE_NAME="Bicrypto"
APP_DEMO="false"
NODE_ENV=production

# --------------- Database ---------------

# "mysql://  username  :  password  @  host  :  port  /  database"
DATABASE_URL="mysql://root:@localhost:3306/template"

# --------------- Security ---------------

# TOKEN SECRETS (Please change them every 2 - 4 weeks)
# Can create in node 'crypto.randomBytes(64).toString('hex')'
# Or you can use https://www.browserling.com/tools/random-hex (64 digits)
APP_ACCESS_TOKEN_SECRET=""
APP_REFRESH_TOKEN_SECRET=""
APP_RESET_TOKEN_SECRET=""
APP_VERIFY_TOKEN_SECRET=""
JWT_EXPIRY="15m"
JWT_REFRESH_EXPIRY="14d"
JWT_RESET_EXPIRY="1h"

# If using a browser like your Nuxt app, use 'browser' for production
# If using a browser like your Nuxt app, use 'browser-dev' for development
# If you're not using a browser, then use 'app'
APP_CLIENT_PLATFORM="browser"

# --------------- License ---------------

# MashDiv API (Don't change)
APP_LICENSE_API_URL="https://api.mashdiv.com"
API_LICENSE_API_KEY="CF30BB9297634F7075F6"

# --------------- Mail ---------------

# nodemailer-service, nodemailer-smtp, nodemailer-sendgrid
APP_EMAILER="nodemailer-smtp"

# nodemailer-service (For Gmail or Outlook)
APP_NODEMAILER_SERVICE=""
APP_NODEMAILER_SERVICE_SENDER=""
APP_NODEMAILER_SERVICE_PASSWORD=""

# nodemailer-smtp
APP_NODEMAILER_SMTP_HOST=""
APP_NODEMAILER_SMTP_PORT="587"
APP_NODEMAILER_SMTP_SENDER=""
APP_NODEMAILER_SMTP_PASSWORD=""

# SENDGRID API KEY (For Sendgrid Emailer)
APP_SENDGRID_API_KEY=""
APP_SENDGRID_SENDER=""

# --------------- Auth ---------------

# GOOGLE CLIENT ID (For Google Auth)
APP_GOOGLE_CLIENT_ID="123...com"

# --------------- Exchanges ---------------

# Active Provider (use alias)
APP_ACTIVE_EXCHANGE="binance"

# KuCoin API (alias: kucoin)
APP_KUCOIN_API_KEY=""
APP_KUCOIN_API_SECRET=""
APP_KUCOIN_API_PASSPHRASE=""

# Binance API (alias: binance)
APP_BINANCE_API_KEY=""
APP_BINANCE_API_SECRET=""

# --------------- SMS ---------------

# Twilio API
APP_TWILIO_ACCOUNT_SID=""
APP_TWILIO_AUTH_TOKEN=""
APP_TWILIO_PHONE_NUMBER=""

# --------------- AI ---------------

# OpenAI
APP_OPENAI_API_SECRET=""

# --------------- FIAT ---------------

# OpenExchangeRates API
APP_OPENEXCHANGERATES_APP_ID=""

# --------------- Google Translate ---------------

GOOGLE_TRANSLATE_API_KEY=""
